.form {
    &__message {
        visibility: hidden;
        height: 30px;
        &_error {
            visibility: initial;
            color: red;
        }
        &_success {
            visibility: initial;
            color: green;
        }
    }
}
