* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Franklin Gothic Book';
    /*src: url(./fonts/FranklinGothicBookC.woff);*/
    src: url(./fonts/FranklinGothicBookC.otf);
}

@font-face {
    font-family: 'Franklin Gothic Medium';
    /*src: url(./fonts/FranklinGothicMediumC.woff);*/
    src: url(./fonts/FranklinGothicMediumC.otf);
}

.page {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: 18px;
    line-height: 30px;
}
