:root {
    --color-main: #0b6bb2;
    --color-second: #f09522;
    --color-dark: #2c2b2b;
    --color-grey: #f2f2f2;
    --font: 'Franklin Gothic Book', "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    --font-medium: 'Franklin Gothic Medium', "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
