.icon {
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    & > svg {
        display: block;
        min-width: 1em;
        min-height: 1em;
        width: 1em;
        height: 1em;
        margin: 0;
    }
}
