.form-main {
    &__form-field {
        margin-top: 20px;
        width: 100%;
    }

    &__attach {
        margin-top: 50px;
    }

    &__message {
        margin-bottom: 20px;
    }

    &__combo {
        display: flex;
        flex-direction: column;

        @media (--medium) {
            flex-direction: row;
        }

        .form-main__form-field {
            margin-right: 18px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__footer {
        display: flex;
        flex-flow: wrap column;
        align-items: flex-end;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
