.input {
    border-bottom: 1px solid;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    width: 100%;
    color: inherit;

    &_invalid {
        border-color : red;
        color : red;


        .input__control {
            &::placeholder
            {
                color: red;
            }
        }

    }
    &__box {
        display: inline-block;
        width: 100%;
    }

    &__control {
        display: inline-block;
        font: inherit;
        line-height: inherit;
        color : inherit;

        position: relative;

        display: inline-block;

        box-sizing: border-box;
        padding: 0;
        width: 100%;

        border: 0;
        outline: none;
        background: none;

        height: 55px;


        -webkit-appearance: none;

        // лишние отступы у текста
        &::-webkit-search-decoration
        {
            -webkit-appearance: none;
        }

        // нативный крестик
        &::-webkit-search-cancel-button
        {
            display: none;
        }

        &::-webkit-input-placeholder
        {
            text-indent: 0;
        }

        &::-moz-placeholder
        {
            opacity: 1;
            color: inherit;
        }

        &::-ms-clear
        {
            display: none;
        }

        &::-webkit-autofill {
            border: 1px solid transparent;
            background-clip: padding-box;
        }

        &::placeholder {
            color: inherit;
            opacity: 0.5;
        }
    }
}

