.tabs {
    width: 100%;

    &__tabs-group {
        border-bottom: 1px solid;
        display: flex;
        margin: 0 auto;
        overflow: hidden;
    }

    &__tab {
        font-size: 12px;
        width: 100%;
        cursor: pointer;
        text-align: center;
        line-height: 15px;
        @media (--medium) {
            text-transform: uppercase;
            font-size: 13px;
            line-height: 20px;

            &.radio_checked {
                font-size: 18px;
            }

        }

        &.radio_checked {
            border-bottom: 3px solid;

        }

        .radio__control {
            display : none;
        }
    }

    &_view_courses {
        .tabs__tabs-group {
            width: 100%;
            margin-bottom: 80px;
        }
    }

}

.tabs_disabled {
    .tabs__tab {
        cursor: initial;
    }
}

.tabs__box
{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    flex-flow: row wrap;
    transition: 1s opacity ease, 1s max-height ease;
}

.tabs__box_selected
{
    opacity: 1;
    height: auto;
    display: flex;
    max-height: 1000px;
}
