.partner-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &__img-wrapper {
        width: 120px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        max-width: 100%;
    }
}
