.partner-card {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    &:last-of-type {
        margin-right: 30px;
    }

    &__title {
        min-height: 150px;
        display: flex;
        align-items: center;
    }

    &__img-wrapper {
        width: 120px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        max-width: 100%;
    }
}
