.footer {
    color: white;
    font-size: 13px;
    line-height: 36px;


    &__menu {
        display: flex;
        flex-flow: row wrap;
    }

    &__menu-item {
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0;
        }
    }
    &__menu-item {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        cursor: pointer;

        &:hover {
            color: var(--color-second);
        }
    }

    &__copyright {
        margin-top: 60px;
    }

    .sections-menu__menu-item_active {
        color: var(--color-second);
    }
}
