.slider {
    position: relative;
    overflow: hidden;
    min-height: 390px;
    display: flex;
    &__slide {
        background-color: #e4e4e4;
        height: auto;
        max-height: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;

    }

    &__pagination {
        display: none;
    }

    &__slide-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 100%;
    }

    &__avatar-wrapper {
        height: 132px;
        width: 132px;
        min-width: 132px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f8f8f8;
        margin-bottom: 20px;
        margin-right: 35px;
    }

    &__content {
        display: none;

        @media (--medium) {
                display: block;

        }
    }

    &__avatar {
        height: 100%;
    }

    &__next-button {
        background: url(./images/slider-arrows.png) no-repeat 0 center;
        background-size: 42px;
        background-position: -21px;
        width: 21px;
        height: 51px;
        right: 5px;

        @media (--medium) {
            background-size: initial;
            background-position: -33px;
            width: 31px;
            height: 51px;
            right: 10px;
        }
    }

    &__person {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__person-info {
        margin-bottom: 30px;
        text-align: center;
    }

    &__person-name {
        font-weight: bold;
        font-size: 20px;
    }

    &__prev-button {
        background: url(./images/slider-arrows.png) no-repeat 0 center;
        background-size: 42px;
        width: 21px;
        height: 51px;
        right: 5px;

        @media (--medium) {
            background-size: initial;
            width: 31px;
            height: 51px;
            left: 10px;
        }
    }
}
