.slider {
    position: relative;
    overflow: hidden;
    height: 390px;
    &__slide {
        background : white;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    &__avatar-wrapper {
        height: 132px;
        width: 132px;
        min-width: 132px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }

    &__avatar {
        height: 100%;
    }

    &__next-button {
        background: url(./images/slider-arrows.png) no-repeat;
        background-position-x: -33px;
        width: 31px;
        height: 51px;
    }

    &__person {
        display: flex;
    }

    &__person-info {
        margin-left: 35px;
    }

    &__person-name {
        font-weight: bold;
        font-size: 20px;
    }

    &__prev-button {
        background: url(./images/slider-arrows.png) no-repeat;
        width: 31px;
        height: 51px;
    }
}
