.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background: white;

    &_color_main {
        background-color: var(--color-main);
        color: white
    }

    &_color_dark {
        background-color: var(--color-dark);
        color: white;
    }

    &_color_grey {
        background-color: #e4e4e4;
        color: black;
    }
}
