.form-feedback {
    width: 100%;
    position: relative;
    z-index: 2;


    @media (--large) {
        width: 55%;
        float: right;
    }

    &__inner {
        padding: 80px 20px;
        box-sizing: border-box;
        background-color: rgba(var(--color-main), 0.9);
        color : white;

        width: 100%;

        @media (--large) {
            padding: 80px 50px;
        }
    }

    &__header {
        margin-bottom: 40px;
    }

    &__footer {
        margin-top: 30px;
    }

    &__info {
        display: flex;
        margin-top: 30px;
        flex-flow: row wrap;
    }

    &__info-item {
        margin-bottom: 20px;
    }

    &__info-title {
        font-weight: bold;
    }
}
