.form-feedback {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;



    &__inner {
        padding: 80px 50px;
        box-sizing: border-box;
        background-color: rgba(var(--color-main), 0.9);
        color : white;
        height: 100%;

        width: 100%;
    }

    &__header {
        margin-bottom: 40px;
    }

    &__footer {
        margin-top: 55px;
    }

    &__info {
        display: flex;
        margin-top: 30px;
        flex-flow: row wrap;
    }

    &__info-item {
        margin-bottom: 20px;
    }

    &__info-title {
        font-weight: bold;
    }
}

@media (--large) {
    .form-feedback {
        width: 55%;
    }
}
