.button {
    border: none;
    position: relative;
    box-sizing: border-box;
    font-size: 21px;
    font-family: var(--font);
    background: none;
    font-weight: normal;
    text-align: center;
    color: var(--color-main);
    cursor: pointer;
    z-index: 1;

    &:hover:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: rgba(#fff, 0.1);

    }

    &_size_l {
        height: 70px;
        line-height: 70px;
        min-width: 300px;
    }

    &_size_m {
        height: 50px;
        line-height: 50px;
        min-width: 180px;
    }

    &_view_second {
        background-color: var(--color-second);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.39);
        color: white;
    }

    &_view_dark {
        background-color: var(--color-dark);
        color: white;
    }

    &_view_main {
        background-color: var(--color-main);
        color: white;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.39);
    }

    &_view_plain {
        &:hover {
            text-decoration: underline;
        }
    }

    &_disabled {
        opacity: 0.5;
        cursor: initial;
        &:hover {
            text-decoration: initial;
            &:after {
                display: none;
            }
        }
    }
}
